<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="All" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM-dd.lo\g" />
    <maximumFileSize value="30MB" />
    <maxSizeRollBackups value="15" />
    <staticLogFileName value="false" />
    <PreserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name='CustomRollingFileAppender' type='Space.Web.Test.CustomLog4NetTest, Space.Web.Test'>
    <connectionString value='mongodb://localhost' />
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="All" />
    <appender-ref ref='CustomRollingFileAppender' />
  </root>
</log4net>